{% extends 'base.html' %}

{% load static %}

{% block 'titulo' %} Login {% endblock %}

{% block 'conteudo' %}


<link rel="stylesheet" href="{% static 'home.css' %}">

    {% if status == '0'%}
    <br>
    <div style="margin-right: 10%; margin-left: 10%" class="alert alert-success" role="alert">
        Usuário deletado com sucesso!
    </div>
    {% endif %}


    {% if status == '1'%}
    <br>
    <div style="margin-right: 10%; margin-left: 10%" class="alert alert-danger" role="alert">
        Não é possível deletar o administrador!
    </div>
    {% endif %}

    {% if status == '2'%}
    <br>
    <div style="margin-right: 10%; margin-left: 10%" class="alert alert-danger" role="alert">
        Apenas o administrador pode cadastrar usuários!
    </div>
    {% endif %}

    {% if status == '3'%}
    <br>
    <div style="margin-right: 10%; margin-left: 10%" class="alert alert-danger" role="alert">
        E-mail já cadastrado!
    </div>
    {% endif %}

    {% if status == '4'%}
    <br>
    <div style="margin-right: 10%; margin-left: 10%" class="alert alert-success" role="alert">
        Cadastro realizado com sucesso!
    </div>
    {% endif %}

    {% if status == '5'%}
    <br>
    <div style="margin-right: 10%; margin-left: 10%" class="alert alert-danger" role="alert">
        Erro!
    </div>
    {% endif %}

    {% if status == '6'%}
    <br>
    <div style="margin-right: 10%; margin-left: 10%" class="alert alert-success" role="alert">
        Edição realizada com sucesso!
    </div>
    {% endif %}





{% endblock %}